/* src/components/Admin/PersonList.css */
.person-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 30px;
  background-image: url("../../assets/fondo2.png");
  background-size: cover;
  border-radius: 8px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.person-list-container h2 {
  font-weight: 900;
  font-size: 4rem;
  text-align: center;
  margin-bottom: 25px;
}

.person-list-container .error-message {
  color: red;
  margin-bottom: 15px;
  text-align: center;
}

.person-list-container .filter-controls {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 20px;
}

.person-list-container .filter-controls input[type="text"],
.person-list-container .filter-controls select,
.person-list-container .filter-controls input[type="text"]::placeholder,
.person-list-container .filter-controls select::placeholder {
  color: #ffffff;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ffffff;
  background-color: transparent;
  font-size: 16px;
}
.person-list-container .filter-controls input[type="text"]:focus,
.person-list-container .filter-controls select:focus {
  outline: none;
  border-bottom: 1px solid #cc6f04; /* Color de la línea inferior al enfocar */
}

.person-list-container .filter-controls select option{
  color: #999; /* Estilo para la opción "Seleccionar posición" */
    background-color: #545b62;
}

.person-list-container .filter-controls button {
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  background-color: #cc6f04;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.person-list-container .filter-controls button:hover {
  background-color: #a95b01;
}

/* Estilo específico para el botón de cerrar sesión */
.person-list-container .filter-controls .logout-button {
  background-color: #955d63; /* Color rojo para indicar cierre de sesión */
  color: white;
}

.person-list-container .filter-controls .logout-button:hover {
  background-color: #c82333;
}

.person-list-container ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

.person-list-container ul li {
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.person-list-container ul li > span {
  flex-grow: 1;
  display: flex;
  gap: 15px; /* Espacio entre los elementos de información */
  align-items: center; /* Alineación vertical */
}

.person-list-container ul li .person-actions {
  display: flex;
  gap: 10px; /* Espacio entre los iconos */
}

.person-list-container ul li .person-actions button {
  padding: 8px; /* Reduce el padding para los iconos */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  display: flex; /* Para centrar el icono */
  align-items: center;
  justify-content: center;
}

.person-list-container ul li .person-actions button:first-of-type {
  background-color: #28a745; /* Color para el botón Editar */
  color: white;
}

.person-list-container ul li .person-actions button:first-of-type:hover {
  background-color: #1e7e34;
}

.person-list-container ul li .person-actions button:last-of-type {
  background-color: #dc3545; /* Color para el botón Eliminar */
  color: white;
}

.person-list-container ul li .person-actions button:last-of-type:hover {
  background-color: #c82333;
}

/* Estilo para los iconos */
.person-list-container ul li .person-actions button svg {
  font-size: 1.2em; /* Tamaño de los iconos */
}