/* src/components/Admin/PersonList.css */
.person-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  padding: 30px;
  background-color: #000000;
  border-radius: 8px;
  text-transform: uppercase;
  font-family: 'Arial', sans-serif;
  color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.person-list-container h2 {
  font-weight: 900;
  font-size: 4rem;
  text-align: center;
  margin-bottom: 25px;
  
}

.person-list-container .error-message {
  color: red;
  margin-bottom: 15px;
  text-align: center;
}

.person-list-container .filter-controls {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 20px;
}

.person-list-container .filter-controls input[type="text"],
.person-list-container .filter-controls select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.person-list-container .filter-controls button {
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.person-list-container .filter-controls button:hover {
  background-color: #0056b3;
}

/* Estilo específico para el botón de cerrar sesión */
.person-list-container .filter-controls .logout-button {
  background-color: #dc3545; /* Color rojo para indicar cierre de sesión */
  color: white;
}

.person-list-container .filter-controls .logout-button:hover {
  background-color: #c82333;
}

.person-list-container ul {
  list-style: none;
  padding: 0;
}

.person-list-container ul li {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.person-list-container ul li > span {
  flex-grow: 1;
}

.person-list-container ul li button {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-left: 10px;
  transition: background-color 0.3s ease;
}

.person-list-container ul li button:first-of-type {
  background-color: #28a745; /* Color para el botón Editar */
  color: white;
}

.person-list-container ul li button:first-of-type:hover {
  background-color: #1e7e34;
}

.person-list-container ul li button:last-of-type {
  background-color: #dc3545; /* Color para el botón Eliminar */
  color: white;
}

.person-list-container ul li button:last-of-type:hover {
  background-color: #c82333;
}

/* Estilos para la información de la persona (nombre, tipo, posición) */
.person-info {
  flex-grow: 1;
}

.person-info .person-name {
  font-weight: bold;
  color: #333;
}

.person-info .person-type {
  color: #777;
  font-size: 0.9em;
}

.person-info .person-position {
  color: #555;
  font-style: italic;
}