.charlas-container {
    background-image: url('../src/assets/fondo3.png');
    background-attachment: fixed;
    backdrop-filter: blur(5px);
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    padding: 80px 20px;
    margin: 0 auto;
    width: 100%;
    color: #ffffff;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0; /* Inicialmente invisible */
    transition: opacity 1s ease-in-out; /* Transición de opacidad */
}

.charlas-container.fade-in {
    opacity: 1; /* Al aparecer, se vuelve visible */
}


.charlas-title {
    font-size: 4em;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: 0.5px;
    width: 100%;
}

.charlas-content {
    font-size: 1.1em;
    margin-bottom: 40px;
    width: 80%;
    text-align: center;
}

.charlas-gallery-section {
    width: 95%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Responsive design para la sección principal */
@media (max-width: 768px) {
    .charlas-container {
        padding: 60px 15px;
    }

    .charlas-title {
        font-size: 2em;
    }

    .charlas-content {
        font-size: 1em;
        width: 95%;
    }

    .charlas-gallery-title {
        font-size: 1.8em;
    }
}
