/* TeamGPSPORTS.css */
.team-gpsports-container {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background-attachment: fixed;
    backdrop-filter: blur(5px);
    background-size: cover;
    padding: 40px;
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-gpsports-container h2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 10rem; /* Adjust size as desired */
    text-shadow: #000000 2px 2px 8px;
    opacity: 0;
    animation: fade-in-down 2s ease-out forwards;
}
@keyframes fade-in-down {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.content3 {
    width: 90%;
    font-weight: 200;
    font-size: 1.1rem;
    margin: 0px 0 100px 0;
    text-align: start;
    line-height: 2rem;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.content3.fade-in-right {
    opacity: 1;
    transform: translateY(0);
}

.section {
    display: flex;
    margin-bottom: 60px;
    align-items: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.section.reversed {
    flex-direction: row-reverse;
}
.section.visible {
    opacity: 1;
}

.image-container {
    flex: 1;
    margin-right: 30px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.section.reversed .image-container {
    margin-left: 30px;
    margin-right: 0;
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    filter: brightness(0.8); /* Slightly dim the images */
}

.text-container {
    flex: 1;
    padding: 30px;
    border-radius: 8px;
    
}

.text-container h3 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 3em;
    margin-bottom: 15px;
    color: #ddd;
    text-transform: uppercase;
    font-weight: 900;
}

.text-container p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #ccc;
    margin-bottom: 10px;
    font-weight: 200;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .team-gpsports-container h2{
        font-size: 4rem; /* Adjust size for smaller screens */
    }
    .section {
        flex-direction: column;
    }

    .section.reversed {
        flex-direction: column;
    }

    .image-container {
        margin-right: 0;
        margin-bottom: 20px;
        max-width: 100%;
    }

    .section.reversed .image-container {
        margin-left: 0;
    }

    .text-container {
        padding: 20px;
    }

    .text-container h3 {
        font-size: 1.8em;
    }

    .text-container p {
        font-size: 1em;
    }
}